<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <title>Pulp - Share Code</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github.min.css">
  <link rel="stylesheet" href="index.css">
  <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&display=swap" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Pulp</a>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button id="theme" class="btn btn-secondary">History</button>
        </li>
      </ul>
    </div>
  </nav>
  <div class="mx-4 my-2">
    <pre><code id="codePrint" class="code language-<%= data.language %>"><%= data.content %></code></pre>
    <div class="alert alert-secondary details text-center" role="alert">
      <code style="color: black;"><%= data.size %> bytes | <%= date %> | <%= data.views %> views</code>
    </div>
    <div class="text-center">
      <button id="copy" class="btn btn-secondary btn-sm">Copy</button>
      <a class="btn btn-secondary btn-sm" href="">Raw</a>
      <button id="delete" class="btn btn-danger btn-sm disabled">Delete</button>
      <button id="print" class="btn btn-secondary btn-sm">Print</button>
    </div>
    <!-- toast starts -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="toast" class="toast text-bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div id="toastBody" class="toast-body"></div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
            aria-label="Close"></button>
        </div>
      </div>
    </div>
    <!-- toast ends -->
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
  <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
  <script>
    hljs.highlightAll();

    const copyBtn = document.getElementById("copy");
    const printBtn = document.getElementById("print");
    const { content } = JSON.parse(`<%- JSON.stringify(data) %>`);

    copyBtn.addEventListener("click", async (e) => {
      try {
        await navigator.clipboard.writeText(content);
        showNotification("Text copied to clipboard");
      } catch (error) {
        showNotification("Something wrong happened while copying");
      }
    })

    printBtn.addEventListener("click", (e) => {
      printJS('codePrint', 'html');
    })

    const showNotification = (msg, type) => {
      const toast = document.getElementById("toast");
      const toastBody = document.getElementById("toastBody");
      const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toast);
      toastBody.innerText = msg;
      toastBootstrap.show();
    }

  </script>
</body>

</html>